@font-face {
    font-family: 'Inter';
    src: local("Inter-VariableFont_opsz,wght"),
    url(fonts/Inter/AirbnbCerealLight.ttf) format("truetype");
}

@font-face {
    font-family: 'Palanquin Dark';
    src: local("PalanquinDark-Regular"),
    url(fonts/Palanquin_Dark/PalanquinDark-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'League Spartan';
    src: local("LeagueSpartan-VariableFont_wght"),
    url(fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: 'Molengo';
    src: local("Molengo-Regular"),
    url(fonts/Molengo/Molengo-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Outfit';
    src: local("Outfit-VariableFont_wght"),
    url(fonts/Outfit/Outfit-VariableFont_wght.ttf) format("truetype");
}

