h1 {
    font-family: 'Palanquin Dark' !important;
    font-weight: 700 !important;
    font-size: 60px !important;
    color: #F7931A !important;
}
h3 {
    font-family: 'Molengo' !important;
    font-weight: 400 !important;
    font-size: 30px !important;
    color: #FFFFFF !important;
}
.color-primary {
    color: #F7931A !important;
}
p {
    font-family: 'Molengo' !important;
    font-weight: 400 !important;
    font-size: 37px !important; 
    color: #fff;
}
.weight-600 {
    font-weight: 600 !important;
}
h2 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
li {
    font-family: 'Molengo';
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}
span {
    font-family: 'Molengo';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}
.font-size-30{
    font-size: 30px !important;
}
.tg-bot {
    background: -webkit-linear-gradient(#B72346, #C5882D);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nft {
    background: -webkit-linear-gradient(#4431BA, #979DD8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.twitter {
    background: -webkit-linear-gradient(#30AE35, #236D49);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.boreth {
    font-family: 'Palanquin Dark';
    font-weight: 600;
    font-size: 74px;
    color: #F7931A;
    margin-top: 402px;
}

.promise {
    font-size: 45px !important;
    width: 1114px;
    margin-top: 14px;
}

.poweredby {
    font-family: 'Molengo';
    font-weight: 400;
    font-size: 37px;
    margin-top: 45px;
    color: #fff;
}
.poweredby > span {
    color: #F7931A;
}

.production {
    font-family: 'Molengo';
    font-weight: 400;
    font-size: 33px;
    margin-top: 8px;
    color: #fff;
}

.btn-contract {
    width: 292.52px;
    height: 91.35px;
    margin-top: 47px;
    color: #161614 !important;
    font-family: 'Outfit' !important;
    font-weight: 600 !important;
    font-size: 25px !important;
    background-color: #F7931A !important;
    border-color: #F7931A !important;
    border-radius: 10px !important;
}

.btn-bf {
    background: rgba(255,255,255,0.25) !important;
    border: rgba(255,255,255,0.25) !important;
    color: #F7931A !important;
    /* width: 418px; */
    height: 86px;
    font-family: 'Molengo' !important;
    font-weight: 400 !important;
    font-size: 30px !important;
}

.width-537px {
    width: 537px !important;
}

.width-938px {
    width: 938px;
}

.width-810px {
    width: 810px;
}

.width-968px {
    width: 968px;
}

.width-351px {
    width: 351px !important;
}

.w-125 {
    width: 180%;
    transform: translate(-25%,-10%);
}
.w-130 {
    width: 180%;
    transform: translate(-10%,20%);
}
.card {
    width: 100%;
    background-color: #201F1C !important;
    border-radius: 30px;
    
}

.card-pt-98 {
    padding-top: 98px !important;
}

.card-small {
    background: rgba(255,255,255,0.08);
    border-radius: 20px;
    position: relative;
}

.img1-back {
    background-image: url('img1.png');
    background-repeat: no-repeat;
    background-size: 100% 95%;
    color: rgba(0,0,0,0.33) !important;
    background-size: cover;
    background-position: center;
}

.img4-back {
    background-image: url('img4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.transY {
    transform: translateY(-50%);
}

.transYDown {
    transform: translateY(50%);
}

.transYDown-25 {
    transform: translateY(25%);
}

.icon {
    width: 50px;
    height: 65px;
}

.icon-split {
    width: 50px;
    height: 50px;
}

.round-rect {
    width: 90px;
    height: 90px;
    background: rgba(255, 255, 255, 0.08);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    top: -45px;
    right: -45px;
}

.scale {
    transform: scale(1.3) translate(15%, -50%);
}

.phase {
    font-family: 'League Spartan' !important;
    font-weight: 700 !important;
    font-size: 188px !important;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #F7931A;
    color: transparent !important;
}

.moon-border {
    border: 2px solid #F7931A;
    border-radius: 100%;
    width: 375px;
    height: 375px;
    padding: 0 20px;
}

.phase-card {
    margin-top: -100px;
}

.stick-right {
    position: absolute;
    right:0;
    transform: translateY(-30%);
}

.stick-left {
    position: absolute;
    left:0;
    transform: translateY(-30%);
    width: 120px;
}

.gradient-div {
    background: radial-gradient(circle, rgba(183,186,49,1) 0%, rgba(185,113,61,0) 100%);
    width: 980px;
    height: 980px;
    opacity: 0.2;
    /* border-radius: 50%; */
}

.accordion-button {
    font-family: 'Molengo' !important;
    font-weight: 400 !important;
    font-size: 39px !important;
    color:  #F7931A !important;
    border: 1px solid rgba(255,255,255,0.12) !important;
    border-radius: 2px !important;
}

.accordion {
    --bs-accordion-active-bg: #201F1C !important;
    --bs-accordion-btn-bg: #201F1C !important;
    --bs-accordion-border-width: 0px !important;
}

[data-bs-theme=dark] {
    --bs-body-bg:#201F1C !important;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 40px !important;/*60->40*/
    }
    h3 {
        font-size: 30px !important; /*45->30*/
    }
    .promise {
        font-size: 30px !important; /*45->30*/
    }
    .poweredby {
        font-size: 26px !important; /*37->26*/
    }
    .poweredby > span {
        font-size: 18px !important; /*24->18*/
    }
    p {
        font-size: 26px !important; /*37->26*/
    }
    .btn-bf {
        font-size: 21px !important; /*30->21*/
    }
    h3 > .font-size-30 {
        font-size: 21px !important; /*30->21*/
    }
    #coin3 {
        width: 128px !important; /*240->128*/
    }
    #coin3-container {
        margin-top: -64px !important; /*120->64*/
    }
    .phase {
        font-size: 88px !important; /*188->88*/
    }
    .phase-card {
        margin-top: -44px !important; /*80->44*/
    }
    li {
        font-size: 21px !important; /*30->21*/
    }
    .accordion-button {
        font-size: 27px; /*39->27*/
    }
}

@media screen and (max-width: 992px) and (min-width: 600px) {
    h1 {
        font-size: 46px !important;/*60->46*/
    }
    h3 {
        font-size: 30px !important; /*45->30*/
    }
    .promise {
        font-size: 34px !important; /*45->34*/
    }
    .poweredby {
        font-size: 29px !important; /*37->29*/
    }
    .poweredby > span {
        font-size: 20px !important; /*24->20*/
    }
    p {
        font-size: 29px !important; /*37->29*/
    }
    .btn-bf {
        font-size: 24px !important; /*30->24*/
    }
    h3 > .font-size-30 {
        font-size: 24px !important; /*30->24*/
    }
    #coin3 {
        width: 148px !important; /*240->148*/
    }
    #coin3-container {
        margin-top: -74px !important; /*120->74*/
    }
    .phase {
        font-size: 108px !important; /*188->108*/
    }
    .phase-card {
        margin-top: -54px !important; /*80->54*/
    }
    li {
        font-size: 24px !important; /*30->24*/
    }    
    .accordion-button {
        font-size: 30px; /*39->30*/
    }
}

.flex-1{
    flex: 1 1;
}

[data-bs-theme=dark] .accordion-button::after {
    --bs-accordion-btn-icon: url('arrow_down.svg') !important;
    --bs-accordion-btn-active-icon: url('arrow_down.svg') !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-active-icon) !important;
    transform: var(--bs-accordion-btn-icon-transform) !important;
}